.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

.tile {
  height: 200px;
  width: 170px;
  margin: 10px;
  padding-left: 15px;
  background: #82d8ff;
  float: left;
  font-size: 11px;
  text-align: left;
}

.newWorkoutButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  display: block;
}

.input {
  margin-left: 10px;
  height: 16px;
  width: 100px;
  border: 1px solid #000;
  float: left;
}

.input:focus {
  border: solid 1px lightgrey;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.tile:hover .deleteButton {
  visibility: visible;
}

label{
  font-size: 14px;
  color: #333;
  height: 20px;
  width: 100px;
  margin-top: 5px;
  margin-left: 10px;
  text-align: left;
  clear: both;
  float:left;
  margin-right:15px;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 11px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
